UNO/UnoClient/Service References/proxy/UNOService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UNOService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UNOService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/UNOService.Game" />
  <xs:simpleType name="StatusCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LOGIN_INCORRECT" />
      <xs:enumeration value="LOGIN_ALREADY" />
      <xs:enumeration value="REGISTER_USERNAME_TAKEN" />
      <xs:enumeration value="REGISTER_PASSWORD_TOO_SHORT" />
      <xs:enumeration value="UNKOWN_ERROR" />
      <xs:enumeration value="SUCCESS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusCode" nillable="true" type="tns:StatusCode" />
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UNOService.Game" minOccurs="0" name="State" type="q1:PlayerState" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="Card">
    <xs:sequence>
      <xs:element minOccurs="0" name="Border" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UNOService.Game" minOccurs="0" name="Color" type="q2:CardColor" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UNOService.Game" minOccurs="0" name="Type" type="q3:CardType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Card" nillable="true" type="tns:Card" />
  <xs:complexType name="ArrayOfCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Card" nillable="true" type="tns:Card" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCard" nillable="true" type="tns:ArrayOfCard" />
</xs:schema>