UNO/UnoClient/Service References/proxy/UNOService.Game.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UNOService.Game" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UNOService.Game" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/UNOService" />
  <xs:simpleType name="PlayerState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InLobby" />
      <xs:enumeration value="InGame" />
      <xs:enumeration value="InAfterGame" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PlayerState" nillable="true" type="tns:PlayerState" />
  <xs:simpleType name="CardColor">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Red" />
      <xs:enumeration value="Green" />
      <xs:enumeration value="Blue" />
      <xs:enumeration value="Yellow" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CardColor" nillable="true" type="tns:CardColor" />
  <xs:simpleType name="CardType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="normal" />
      <xs:enumeration value="reverse" />
      <xs:enumeration value="skip" />
      <xs:enumeration value="draw2" />
      <xs:enumeration value="wild" />
      <xs:enumeration value="draw4Wild" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CardType" nillable="true" type="tns:CardType" />
  <xs:complexType name="ArrayOfMove">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Move" nillable="true" type="tns:Move" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMove" nillable="true" type="tns:ArrayOfMove" />
  <xs:complexType name="Move">
    <xs:sequence>
      <xs:element minOccurs="0" name="Type" type="tns:Move.Types" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UNOService" minOccurs="0" name="card" nillable="true" type="q1:Card" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Move" nillable="true" type="tns:Move" />
  <xs:simpleType name="Move.Types">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Play" />
      <xs:enumeration value="Keep" />
      <xs:enumeration value="Take" />
      <xs:enumeration value="PunishedCard" />
      <xs:enumeration value="Assigned" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Move.Types" nillable="true" type="tns:Move.Types" />
</xs:schema>