UNO/UnoClient/Service References/proxy/UNOService.Game.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UNOService.Game" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UNOService.Game" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="PlayerState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InLobby" />
      <xs:enumeration value="InGame" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PlayerState" nillable="true" type="tns:PlayerState" />
  <xs:simpleType name="CardColor">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Red" />
      <xs:enumeration value="Green" />
      <xs:enumeration value="Blue" />
      <xs:enumeration value="Yellow" />
      <xs:enumeration value="none" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CardColor" nillable="true" type="tns:CardColor" />
  <xs:simpleType name="CardType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="normal" />
      <xs:enumeration value="reverse" />
      <xs:enumeration value="skip" />
      <xs:enumeration value="draw2" />
      <xs:enumeration value="wild" />
      <xs:enumeration value="draw4Wild" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CardType" nillable="true" type="tns:CardType" />
</xs:schema>